* {
    margin: 0;
    padding: 0;
    letter-spacing: 0.05em;
}

body {
    width: 100%;
    background: #fff;
    font-family: 'Futura-Medium', 'HiraginoSans-W3', sans-serif;
}

#header {
    z-index: 3;
    top: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#header .wrapper {
    position: relative;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
}

ul {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    height: 90px;
}

.normal-li {
    list-style-type: none;
    float: left;
    margin: 0px 20px;
}

.normal-li-e {
    list-style-type: none;
    float: left;
    margin: 0px 80px 0 20px;
}

.move {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.move:hover {
    color: #3d5cdb;
}

.main-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-visual .main-title img {
    width: 900px;
    height: auto;
    float: left;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.sub-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-title p {
    font-size: 40px;
    padding-top: 40px;
    color: #fff;
    float: left;
    z-index: 1;
    font-family: 'HiraginoSans-W1', sans-serif;
    text-align: center;
}

.main-visual {
    width: 100%;
    position: relative;
}

.main-visuall {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    position: relative;
    overflow: hidden;
}

#introduction {
    margin: 0 auto;
    width: 1024px;
}

#introduction p {
    font-family: 'HiraginoSans-W2', sans-serif;
    margin: 45px;
}

.wrapper h2 {
    font-size: 40px;
    color: #3d5cdb;
    text-align: center;
    padding: 40px;
    font-weight: 200;
}

.intro-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.intro-content-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ic1-img img {
    width: 500px;
    height: auto;
    margin: 40px 45px 45px 0;
}

.ic2-img img {
    width: 500px;
    height: auto;
    margin: 40px 0px 75px 45px;
}

.ici-words1 a {
    padding: 10px 45px;
    border-radius: 12px;
    background-color: #3d5cdb;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.ici-words1-a {
    display: flex;
    align-items: center;
    justify-content: center;
}

#introduction a:hover {
    box-shadow: 0 0 10px gray;
    transition: .3s;
}

.ici-words2 a {
    padding: 10px 45px;
    border-radius: 12px;
    background-color: #ffbf00;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

#particles-js {
    width: 100vw;
    /*    height: 130vh;*/
    background-color: #bad5f5;
    overflow: hidden;
}

#particles-js canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#courses {
    margin: 0 auto;
    width: 100%;
    /*    position: absolute;*/
    position: relative;
    z-index: 100;
}

.coursess {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.courses-main {
    width: 1200px;
/*    overflow: auto;*/
     overflow: hidden;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.courses-content {
    position: relative;
    width: 180px;
    height: 280px;
    background-color: #fff;
    padding: 30px;
    margin: 20px 10px 10px 10px;
    border-radius: 12px;
/*    float: left;*/
}

.courses-con-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
}

.courses-con-img img {
    width: 100px;
    margin: 0 auto;
}

.courses-content h4 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 15px;
    font-family: 'HiraginoSans-W3', sans-serif;
    font-weight: 600;
    text-align: center;
}

.courses-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: 12px;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-family: 'HiraginoSans-W3', sans-serif;
    font-weight: 600;
}

.courses-content a:hover {
    box-shadow: 0 0 10px gray;
    transition: .3s;
}

.html {
    background-color: rgb(225, 110, 60);
}

.css {
    background-color: rgb(82, 168, 217);
}

.unity {
    background-color: rgb(51, 51, 51);
}

.ruby {
    background-color: rgb(237, 95, 89);
}

.js {
    background-color: rgb(249, 215, 73);
}

.swift {
    background-color: rgb(237, 125, 71);
}

.go {
    background-color: rgb(137, 205, 219);
}

#Access iframe {
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 45px;
    z-index: 1;
}

.slider {
    width: 80%;
    margin: 0px auto;
    position: relative;
    z-index: 100;
}

.slider img {
    width: 100%;
    height: auto;
}


/*
.slick-prev:before,
.slick-next:before {
    color: #000;
}
*/

#Images {
    position: relative;
    /*    z-index: -1;*/
}

#footer p {
    font-size: 14px;
    font-family: 'HiraginoSans-W3', sans-serif;
    font-weight: 100;
    color: #3d5cdb;
    margin: 25px 0;
    text-align: center;
}

.scrollcss {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: scrollcss;
    -ms-animation-name: scrollcss;
    animation-name: scrollcss;
    visibility: visible !important;
}

@-webkit-keyframes scrollcss {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes scrollcss {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@media all and (max-width: 1024px) {
    #introduction {
    width: 100vw;
}



    
}

@media all and (max-width: 480px) {
    #header ul li a {
        display: none;
    }
    .main-visual .main-title img {
    width: 70vw;
}
    .sub-title p {
    font-size: 15px;
    padding-top: 20px;
}
        #Access{
height: 400px;
        
}
    #Access iframe {
   position: relative;
        width: 100%;
        height: 67%;
    padding-bottom: 0;
        
}
    .intro-content {
 flex-wrap: wrap;
        margin-bottom: 50px;
}
.ic1-img img {
    width: 90vw;
    margin: 0;
}

.ic2-img img {
    width: 90vw;
    margin: 0;
}
       .intro-content-2{
        flex-wrap: wrap-reverse;
           margin-bottom: 50px;
    }
    
    .courses-content {
    width: 90px;
    height: 175px;

}

.courses-con-img {
    width: 75px;
    height: 75px;

}

.courses-con-img img {
    width: 50px;
}
    .courses-content a {
font-size: 2px;
    border-radius: 24px;

}
    
    .courses-content h4 {
padding-top: 20px;
    font-size: 10px;
}
}
